.landing-header.header
  .container
    .row
      = render "alert"

    .row
      .col-sm-7
        .landing-header-logo
          %h1.iiita-logo.text-center iiita
        .landing-header-catch-copy
          %h1.landing-header-catch-copy-text
            iiitaはプログラマのための
            %br
            情報共有サービスです。
      .col-sm-5
        .authentication-form
          .landing-login-form
            = render "users/sessions/manual_login_form"
            .login-with-sns
              = render "users/sessions/sns_login_form"
              %p
                %small iiitaが許可なくtwitterに投稿することはありません。
              %p
                または
                %span.sign-up-toggle-link.btn.btn-link メールアドレスで登録
                する。

          .landing-signup-form
            = render "users/registrations/form"
