= button_to "GitHubで新規登録/ログイン(Not implemented)", user_session_path, class:"form-control login-with-github-button"
= button_to "twitterで新規登録/ログイン(Not implemented)", user_session_path, class:"form-control login-with-twitter-button"
