= render "application/alert"

.container
  .col-xs-12
    .panel.panel-default
      .panel-heading
        プレビュー
      .panel-body.article-preview-panel
        = @article.body

= link_to 'Edit', edit_article_path(@article)
= link_to 'Back', articles_path
