- unless current_user === user
  - current_user_following = current_user.find_follow_to user
  - if current_user_following
    = button_to user_follow_path(current_user_following), remote: true, method: :delete, class: "cancel-following btn btn-default btn-block" do
      %span.glyphicon.glyphicon-briefcase フォローを解除する
  - else
    = form_for :user_follow, url: user_follows_path, remote: true, class: "user-follow-form" do |f|
      = f.hidden_field :to_user_id, value: user.id
      = f.button "#フォロー", class:"follow-user btn btn-default btn-block" do
        %span.glyphicon.glyphicon-briefcase フォローする
