%ul.list-unstyled.following-list
  = content_tag_for :li, tags do |tag|
    .tag-name.pull-left
      = tag.name
    .tag-follow-unfollow-button{data:{tag:"#{tag.id}"}}
      = render partial: "tags/follow_button", locals: {tag: tag}
