// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$key-color: #5FB404;
$key-border-color: #7fDF00;
$base-border-color: #A4A4A4;

//
// for common-header
//
.article-iiita-logo{
  color: $key-color;
  font-family: 'Raleway', sans-serif;
  font-size: 225%;
}

.article-search-dropdown-items
{
  display: none;
  position: absolute;
  width: 350px;
  border: 1px solid $base-border-color;
  padding: 10px;
  z-index: 100;
  background-color: white;
  .search-user-text{
    margin-bottom: 10px;
  }
  input{
    border: 1px solid $base-border-color;
    border-radius: 3px;
    width: 100%;
  }
}
.article-search-button{
  display: none;
}

.article-post-menu, .article-stocks, .notification, .avatar{
  margin-top: 8px;
  margin-left: 10px;
  margin-bottom: 10px;
  span{
    font-weight: bold;
  }
}

.article-stocks{
  padding-top: 8px;
}
.avatar{
  margin-left: 5px;
}
.avatar-surface img{
  border-radius: 5px;
}

.btn-notification{
  background-color: orange;
  color: white;
}

//
// for feed, posts, my-posts, stocks
//
.feed-container{
  margin-top: 50px;
  .my-post-count{
    padding: 3px;
    border-radius: 3px;
    background-color: orange;
    color: white;
  }
}

// for articles_new
.editor-field{
  textarea{
    resize: none;
  }
  .bootstrap-tagsinput{
    width: 100%;
  }
  input[type=text]{
    width: 100%;
  }
  .article-edit-text{
    height: 400px;
  }
  .article-preview-panel{
    height: 400px;
    max-height: 400px;
    overflow-y: scroll;
  }
}

.editor-submit-field{
  bottom: 0;
}

//
// for article-show
//
.article-header-container{
  background-color: $key-color;
  color: white;
  padding-bottom: 20px;
  .stock, .comment{
    margin: 30px 0 10px 0;
  }
  .stock-comment-border{
    border-right: 1px solid white;
  }
  .stock-counter, .comment-counter{
    font-size: 2em;
  }
}

.associated-tag{
  position: relative;
  background-color: #FAFAFA;
  border-radius: 2px;
  padding: 0px 2px 0px 2px;
  a{
    color: #6E6E6E;
  }
}

.associated-tag:before{
  content: "";
  position: absolute;
  // top: -1px;
  left: -8px;
  width: 0;
  height: 0;
  border-right: 8px solid #FAFAFA;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
}
