$key-color: #5FB404;
$key-border-color: #7fDF00;

@mixin sight-color{
  color: white;
  background-color: $key-color;
  border-color: $key-border-color;
}

.header{
  margin-top: 80px;
}

.iiita-logo{
  width: 120px;
  height: 51px;
  background-color: $key-color;
  display: table-cell;
  vertical-align: middle;
  color: white;
}

.login-with-github-button{
 margin-bottom: 5px;
 background-color: #585858;
 color: white;
}

.login-with-twitter-button{
 margin-bottom: 5px;
 background-color: #2E9AFE;
 color: white;
}

.panel-default > .panel-heading {
  @include sight-color;
}

.btn-primary {
  @include sight-color;
}

.glyphicon:before{
  margin-right: 5px;
  margin-top: 5px;
}

.associated-tag{
  position: relative;
  background-color: #BDBDBD;
  border-radius: 2px;
  padding: 0px 2px 0px 2px;
  a{
    color: #6E6E6E;
  }
  span{
    padding-top: 2px;
  }
}

.associated-tag:before{
  content: "";
  position: absolute;
  // top: -1px;
  left: -9px;
  width: 0;
  height: 0;
  border-right: 9px solid #BDBDBD;
  border-bottom: 9px solid transparent;
  border-top: 9px solid transparent;
}
