// Place all the styles related to the Landings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$key-color: #5FB404;
$key-border-color: #7fDF00;

.landing-header{
  .landing-header-catch-copy{
    margin: 100px 0;
    .landing-header-catch-copy-text{
      font-size: 30px;
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    }
  }
  .authentication-form{
    input[type=text]{
      margin-bottom: 10px;
    }
    .btn-primary{
      background-color: $key-color;
      border-color: $key-border-color;
    }
    .landing-login-form{
      .sign-up-toggle-link{
        padding: 0;
      }
      .forgot-password{
        padding: 5px 0;
      }
    }
    .landing-signup-form{
      .agreement-eula{
        margin-bottom: 10px;
      }
    }
  }

}
