// user_show
.avatar-image{
  img{
    width: 100%;
  }
}

.user-summary{
  margin-bottom: 20px;
}

.following-tags-user-header{
  .user-header-text{
    margin-left: 90px;
    .contribution-count{
      font-size: 200%;
    }
    .contribution-count-caption{
      font-size: 150%;
    }
  }
}
